/******************Inicio Colección******************/
.titulo-coleccion {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.coleccion {
    margin-bottom: 30px;
    text-align: center;
}

.article__img {
    height: 208px;
    width: 208px;
}
/******************Fin Colección******************/



/******************Inicio Medias Queries******************/
/*Tablet*/
@media only screen and (min-width:460px) and (max-width:769px) {
    .titulo-coleccion {
        font-size: 1.5rem; /*Cambiar*/
    }

    .coleccion {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 240px 240px 240px 240px;
        row-gap: 20px;
    }
}

/*Desktop*/
@media only screen and (min-width:769px) and (max-width:1025px) {
    .titulo-coleccion {
        font-size: 2rem; /*Cambiar*/
        margin-bottom: 40px;
    }

    .coleccion {
        height: 120vh;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 240px 240px 240px;
        row-gap: 20px;
        align-items: center;
    }

    .article__img {
        height: 208px;
        width: 208px;
    }
}

/*Desktop Full*/
 @media only screen and (min-width:1025px) and (max-width:1800px) {
    .titulo-coleccion {
        font-size: 3rem;
        margin-bottom: 10x;
        text-align: center;

        display: flex;
        justify-content: center;
    }

    .article__img {
        height: 300px;
        width: 300px;
    }

    .coleccion {
        margin-bottom: 70px;
        height: 100vh;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 350px 350px 350px;
        align-items: center;
    }

}

/*Desktop 4K*/
@media only screen and (min-width:1800px) and (max-width:3000px) {
    .titulo-coleccion {
        font-size: 3rem;
        margin-bottom: 20px;
        text-align: center;

        display: flex;
        justify-content: center;
    }

    .coleccion {
        margin-bottom: 70px;
        height: 100vh;
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 450px 450px;
        align-items: center;
    }
    
    .article__img {
        height: 400px;
        width: 400px;
    }
}