  /***************Inicio Main***************/
main {
    height: 70vh;
}
/******************Fin Main******************/




  /***************Inicio Producto***************/
.general-info {
    padding: 20px;
}

/*Container Info*/
  .general-info__container-info {
    margin-top: 10px;
}

.general-info__originals {
    color: gray;
    margin-bottom: 20px;
}

.general-info__modelo {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.general-info__precio {
    font-weight: bold;
    margin-bottom: 10px;
}

  .general-info__img {
    height: 300px;
    width: 100%;
}

  /*Container Product*/
  .general-info__container-product {
    height: 300px;
    margin-bottom: 20px;
    
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .general-info__container-product img {
    margin-right: 10px;
  }

/*Clase Agregar*/
  .agregar {
    display: flex;
  }

  .agregar__btn {
    background-color: black;
    color: white;
    padding: 5px;
    height: 30px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .agregar__carrito {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    font-weight: bold;
  }
  /****************Fin Producto****************/






  /***************Media Queries***************/

@media only screen and (min-width:50px) and (max-width:426px) {

    .full {
      display: none;
    }

    .general-info-full__container-info {
      display: none;
    }

    .general-info-full__container-product {
      display: none;
    }
  
  }
  /*Fin Header Mobile*/
  
  
/*Header Tablet*/
@media only screen and (min-width:426px) and (max-width:769px) {

  .full {
    display: none;
  }

  .general-info-full__container-info {
    display: none;
  }

  .general-info-full__container-product {
    display: none;
  }

  main {
    margin-bottom: 80px;
  }
}
/*Fin Header Tablet*/
  
  
/***********Inicio Desktop***********/
/*Inicio Header Desktop*/
@media only screen and (min-width:769px) and (max-width:1700px) { 

  .full {
    display: none;
  }

  .general-info-full__container-info {
    display: none;
  }

  .general-info-full__container-product {
    display: none;
  }

  .general-info-full {
    display: none;
  }

  main {
    height: 70vh;
  }
}
/************Fin Desktop************/







/***********Inicio Desktop 4K***********/

@media only screen and (min-width:1700px) and (max-width:3000px) { 

  /* Header Desktop */
  
  .mobile {
    display: none;
  }

  /*Fin Header Desktop*/

  .general-info {
    display: none;
  }

  /*Main*/
  main {
    height: 70vh;
    margin-left: 250px;

    display: grid;
    grid-template-columns: 600px 1fr;
    grid-template-rows: 300px;
    justify-content: center;
    align-items: center;
  }
  /*Fin Main*/

/*General Info Full*/
.general-info-full {
  margin-left: 150px;
}

  .general-info-full__originals {
    color: gray;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .general-info-full__modelo {
    color: black;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 10px;
    margin-top: 30px;
  }

  .general-info-full__precio {
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .agregar__btn {
    height: 40px;
    font-size: 20px;
    margin-top: 10px;
  }

  .agregar__carrito {
    height: 40px;
    width: 40px;
    margin-top: 10px;
  }
/*Fin General Info Full*/

  /*Container Info*/
.general-info-full__container-product {
  display: grid;
  grid-template-columns: 210px 210px;
  margin-top: 390px;
  column-gap: 120px;
  row-gap: 10px;
}

  .general-info-full__img {
    height: 300px;
    width: 300px;
  }
}
/*Fin Container Info*/